/* Contenedor principal */
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 1rem;
  background-color: var(--bg-color-light-green);
  overflow: hidden; /* Evitar desbordamientos */
}
p{
  margin: 2rem;
}


/* Cuadro central */
.contact-box {
  background-color: var(--menu-bg-color);
  color: white;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Parte izquierda */
.contact-left {
  flex: 1;
  font-size: 1.2rem;
}

.contact-left h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.contact-left p {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

/* Parte derecha */
.contact-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden; /* Evitar desbordamientos */
}

/* Contenedor de mapa */
.map {
  width: 100%;
  height: 300px; /* Altura est치ndar en pantallas grandes */
  max-width: 100%;
  position: relative;
}

.map-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

/* Formulario de contacto */
.contact-form {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h4 {
  font-size: 1.6rem;
  color: #333;
}

.contact-form .form-control {
  border-radius: 5px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

.contact-form textarea {
  resize: none;
}

.contact-form .btn {
  background-color: var(--menu-bg-color);
  color: white;
  border: none;
}

.contact-form .btn:hover {
  background-color: #0056b3;
  transition: background-color 0.3s ease-in-out;
}

/* Estilos para pantallas peque침as */
@media (max-width: 855px) {
  .contact-box {
    flex-direction: column; /* Apilar las secciones en pantallas peque침as */
  }

  .contact-left, .contact-right {
    width: 100%; /* Ambas ocupan todo el ancho */
  }

  /* Ajustar el contenedor del mapa */
  .map {
    height: 340px; /* Reducir la altura del mapa */
  }

  .map-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contact-form {
    margin-top: 2rem; /* Separar el formulario un poco m치s */
  }
}
