<footer class="footer text-white py-4 border-top border-dark">
  <div class="container">
    <div class="row align-items-center">
      <!-- Columna de la dirección con icono -->
      <div class="col-md-4 d-flex align-items-center">
        <i class="fas fa-map-marker-alt me-2" style="font-size: 1.5rem;"></i>
        <span class="h6">Humberto Primo 985 Piso 13 of. 1 y 2</span>
      </div>

      <!-- Logo centrado -->
      <div class="col-md-4 text-center my-3">
        <img class="borde-r footer-logo" src="../../../assets/logo.png" alt="Logo Técnica y Servicios">
      </div>

      <!-- Columna de créditos alineados a la derecha -->
      <div class="col-md-4 d-flex justify-content-end">
        <span class="small">Realizado por <strong>Facundo Rocha</strong></span>
      </div>
    </div>
  </div>
</footer>
