<div class="services-container">
  <div class="background-image-section">
    <section class="section">
      <h2 class="text-center  text-white">Nuestros servicios</h2>
      <p class="services-description text-center  text-white">
        Somos una organización especializada en desarrollar vínculos estratégicos con el Productor Asesor de Seguros, acompañando activamente durante todo el proceso del negocio.
        Nuestra fortaleza es comprender que el Asesoramiento, el Servicio, la Calidad y el Costo son los ejes centrales en la atención de sus clientes.
      </p>

      <div class="services-cards">
        <div class="card">
          <img src="../../../assets/servicio.png" alt="Servicio" class="card-img">
          <div class="card-content">
            <h3 class="text-light text-decoration-underline">Servicio</h3>
            <p>Trabajamos con las empresas líderes del mercado, garantizando la mejor atención y servicio.</p>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/asesoramiento.png" alt="Asesoramiento" class="card-img">
          <div class="card-content">
            <h3  class="text-light text-decoration-underline">Asesoramiento</h3>
            <p>Diseñamos planes integrales, acorde a las necesidades de tus clientes.</p>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/calidad.png" alt="Calidad" class="card-img">
          <div class="card-content">
            <h3  class="text-light text-decoration-underline">Calidad</h3>
            <p>La experiencia de nuestro equipo le garantiza la mejor calidad de servicio.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <h3 class="text-center text-white" style="font-size: 2rem;">
        Nuestro objetivo es acompañarlo en el desarrollo continuo de su negocio, ofreciéndole los siguientes servicios:
      </h3>

      <table class="services-table">
        <thead>
          <tr>
            <th>servicios</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Asesoramiento integral de interés asegurable de sus clientes.</td>
            <td><i class="icon-ok"></i></td>
          </tr>
          <tr>
            <td>Intervención en siniestro.</td>
            <td><i class="icon-ok"></i></td>
          </tr>
          <tr>
            <td>Asesoramiento en cobranzas.</td>
            <td><i class="icon-ok"></i></td>
          </tr>
          <tr>
            <td>Plan de comisiones.</td>
            <td><i class="icon-ok"></i></td>
          </tr>
          <tr>
            <td>Capacitaciones.</td>
            <td><i class="icon-ok"></i></td>
          </tr>
          <tr>
            <td>Representación comercial en las compañías líderes del mercado.</td>
            <td><i class="icon-ok"></i></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
