<div class="services-container">
  <!-- Sección principal -->

  <div class="background-image-section">

  <section class="section">
    <!-- Título principal -->
    <h2 class="text-center">Nuestros servicios</h2>

    <!-- Párrafo introductorio -->
    <p class="services-description text-center">
      Somos una organización especializada en desarrollar vínculos estratégicos con el Productor Asesor de Seguros, acompañando activamente durante todo el proceso del negocio.
      Nuestra fortaleza es comprender que el Asesoramiento, el Servicio, la Calidad y el Costo son los ejes centrales en la atención de sus clientes.
    </p>

    <!-- Cards de servicios -->
    <div class="services-cards">
      <div class="card">
        <img src="../../../assets/servicio.jpg" alt="Servicio" class="card-img">
        <div class="card-content">
          <h3>Servicio</h3>
          <p>Trabajamos con las empresas líderes del mercado, garantizando la mejor atención y servicio.</p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/asesoramiento.jpg" alt="Asesoramiento" class="card-img">
        <div class="card-content">
          <h3>Asesoramiento</h3>
          <p>Diseñamos planes integrales, acorde a las necesidades de tus clientes.</p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/calidad.jpg" alt="Calidad" class="card-img">
        <div class="card-content">
          <h3>Calidad</h3>
          <p>La experiencia de nuestro equipo le garantiza la mejor calidad de servicio.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Tabla de servicios -->
  <section class="section">
    <h3 class="text-center secondary-title">
      Nuestro objetivo es acompañarlo en el desarrollo continuo de su negocio, ofreciéndole los siguientes servicios:
    </h3>

    <table class="services-table">
      <thead>
        <tr>
          <th>servicios</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Asesoramiento integral de interés asegurable de sus clientes.</td>
          <td><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>Intervención en siniestro.</td>
          <td><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>Asesoramiento en cobranzas.</td>
          <td><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>Plan de comisiones.</td>
          <td><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>Capacitaciones.</td>
          <td><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>Representación comercial en las compañías líderes del mercado.</td>
          <td><i class="icon-ok"></i></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
</div>
