.home-container {
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  display: flex; /* Usamos flexbox para la alineación horizontal */
  margin: 0;
  padding: 0;
  font-family: "libre-baskerville-regular";
  gap: 0;
}

.row.no-gutters {
  margin: 0; /* Eliminar márgenes de la fila */
  padding: 0; /* Eliminar relleno de la fila */
  width: 100%; /* Asegura que la fila ocupe el 100% del ancho */
}

.left-section, .right-section {
  height: 100%; /* Asegura que ambas secciones ocupen toda la altura */
  padding: 0; /* Eliminar cualquier relleno extra */
}

.left-section {
  flex: 1; /* Asegura que la sección izquierda ocupe la mitad del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* La imagen ocupa toda la sección sin distorsionarse */
}

.right-section {
  flex: 1; /* Asegura que la sección derecha ocupe la mitad del contenedor */
  background: var(--bg-color-light-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
  height: 100%; /* Garantiza que ocupe toda la altura disponible */
}

.right-section h1, .right-section p, .right-section h2, .right-section h3 {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column; /* Apilar las secciones en pantallas pequeñas */
    height: auto;
  }

  .left-section, .right-section {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: auto; /* Ajusta la altura en dispositivos pequeños */
  }

  .right-section{
    height: 50vh; /
  }

  .left-section img {
    height: auto; /* Ajusta la altura de la imagen en pantallas pequeñas */
  }
}
