<div class="container-fluid home-container">
  <div class="row no-gutters">
    <!-- Sección de imagen (mitad izquierda) -->
    <div class="col-lg-6 col-md-12 left-section">
      <img src="../../../assets/desktop.png" alt="Escritorio" class="img-fluid">
    </div>

    <!-- Sección de texto (mitad derecha) -->
    <div class="col-lg-6 col-md-12 right-section">
      <h1>Técnica y Servicios</h1>
      <p>Organizador Asesor de Productores de Seguros</p>
      <h3>Acompañarte es nuestro propósito</h3>
    </div>
  </div>
</div>
