.acerca-de-container {
  display: flex;
  flex-direction: row;  /* Asegura que las secciones estén en fila */
  height: 100vh;  /* La altura ocupa toda la pantalla */
  width: 100%;  /* Asegura que el ancho sea completo */
  gap: 0;  /* Sin espacio entre las dos secciones */
  align-items: stretch;  /* Estira las secciones a la altura completa */
  justify-content: center;  /* Centra horizontalmente */
}

.acerca-de-left,
.acerca-de-right {
  flex: 1;  /* Ambos ocupan el 50% del ancho */
  height: 100%;  /* Asegura que ocupen toda la altura */
}

.acerca-de-left {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-light2-green);
}

.acerca-de-left h2,
.acerca-de-left h3,
.acerca-de-left p {
  color: white; /* Color de texto blanco */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra de texto */
}

.acerca-de-left h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.acerca-de-left p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.acerca-de-right {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.acerca-de-right img {
  width: 100%;  /* La imagen ocupa todo el ancho disponible */
  height: 100%;  /* La imagen ocupa toda la altura disponible */
  object-fit: cover;  /* Asegura que la imagen se adapte correctamente */
}

h2, h3 {
  font-family: "libre-baskerville-bold";
}

p {
  font-family: "libre-baskerville-regular";
  font-size: 15px;
}
